/* TODO: Use PostCSS so latest CSS can be included without pasting here */
/*@import url('/material-icons.css')*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/**
 * Single-purpose classes
 */

.code-font, .CodeMirror, .hljs code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.shadow-6 {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.grow-subtle {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.grow-subtle:hover {
  transform: scale(1.02);
}

.grow-subtle:focus {
  transform: scale(1.05);
}

/**
 * Tachyons tweaks
 */

.link:focus {
  outline: none;
}

/**
 * Animations (adapted from animate.css)
 */

.animate-fade-in,
.animate-pulse,
.animate-bounce-in {
  animation-fill-mode: both;
}

.animate--normal {
  animation-duration: 0.5s;
}

.animate--fast {
  animation-duration: 0.25s;
}

.animate--delay {
  animation-delay: 1s;
}

.animate--infinite {
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation-name: fadeIn;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.animate-pulse {
  animation-name: pulse;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.animate-bounce-in {
  animation-name: bounceIn;
}

/**
 * Rainbow animation (inspired by https://codepen.io/nohoid/pen/kIfto)
 */

@keyframes bgRainbow {
  0% {
    background-position: 0% 0%
  }

  100% {
    background-position: 400% 0%
  }
}

.animate-bg-rainbow {
  animation: bgRainbow 6s linear infinite;

  background: linear-gradient(
    to right,
    #ff4136, #ff6300, #ffb700, gold, #19a974, #357edd, #a463f2, #ff80cc, #ff4136
  );
  background-size: 400% 400%;
}

.midi-image {
  opacity: 0.75;
  transition: all ease-out .15s;
}

.midi-image:hover {
  opacity: 1;
}
