/**
 * Single-purpose classes
 */

.code-font, .CodeMirror, .hljs, .hljs code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

/**
 * Code editor
 */

.CodeMirror {
  font-size: 15px;
  border-radius: .25rem;
  border: .125rem rgba(255, 255, 255, .4) solid;
  height: auto;
}

.CodeMirror-matchingbracket {
  text-decoration: none !important; /* disable default style */
  border-bottom: rgba(255, 255, 255, .5) 1px solid;
}

.CodeMirror-scroll {
  margin-bottom: -18px; /* default: -30px */
  margin-right: -18px; /* default: -30px */
  margin-top: 12px; /* default: 0 */
  margin-left: 12px; /* default: 0 */
  min-height: 200px;
}

.CodeMirror-focused {
  border-color: #d5008f;
}

pre.hljs {
  margin: 0; /* disable browser default style */
  padding: 1em; /* increase paddding */
  white-space: pre-wrap; /* wrap long lines */
}

.CodeMirror, .hljs, .hljs code {
  font-size: 14px;
}

.upvote {
  filter: grayscale(30%);
}

.upvote:hover, .upvote:active {
  filter: none;
}

/**
 * Animations (adapted from animate.css)
 */

.animate-fade-in {
  animation-fill-mode: both;
}

.animate--normal {
  animation-duration: 0.5s;
}

.animate--fast {
  animation-duration: 0.25s;
}

.animate--delay {
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation-name: fadeIn;
}
